<tr class="agenda_event">
		<td>
			<h2>
				<a href="#calendar/<%= event.escape("calendar_id") %>/events/<%= event.id %>/edit">
					<span style="color:<%= event.escape("color") %>;"><%= event.escape("title") || "(no title)" %></span></a>
			</h2>
		</td>
		<% if (event.escape("all_day") == "false") { %>
			<td> <%= niceStartDate %> </td>
			<td>
			<%= niceStart %> 
			</td>
			<td>
				<%= niceEndDate %>
			</td>
			<td>
			<%= niceEnd %>
			</td>
		<%} else {%>
			<td> All Day Event </td>
		<% } %>
</tr>