<form id="event_form" class="form">
	<label for="event_title">Title</label>
	<br>
	<input type="text" id="event_title" name="event[title]" 
	value="<%= event.get("title") %>">
	<br>

	 <p class="datepair" data-language="javascript">
	 <label for="event_start_date">Start Date</label>
	 <input type="text" id="event_start_date" name="event[start_date]" class="date start" value="<%= event.get("start_date") ? (Date.create(event.get("start_date"))).toLocaleDateString() : (new Date()).toLocaleDateString() %>">
	 <label for="event_start_time">Start Time</label>
	 <input type="text" id="event_start_time" class="time start" name="event[start_time]" value="<%= event.get("start_time") ? (Date.create(event.get("start_time"))).toLocaleTimeString() : (new Date()).toLocaleTimeString() %>">
	<br>
	<label for="event_end_date">End date</label>
		 <input type="text" id="event_end_date" name="event[end_date]" class="date end" value="<%= event.get("end_date") ? (Date.create(event.get("end_date"))).toLocaleDateString() : "" %>">
		 <label for="event_end_time">End Time</label>
	 <input type="text" id="event_end_time" class="time end" name="event[end_time]" value="<%= event.get("end_time") ? (Date.create(event.get("end_time"))).toLocaleTimeString() : "" %>">
	 <label for="event_end_time">(try entering the end time first!)</label>
	 </p>

	<input type="hidden" name="event[all_day]" value="false">
	<label for="event_all_day">All day?</label>
	<input type="checkbox" id="event_all_day" name="event[all_day]" value="true" 
	"<%= event.escape("all_day") ? 'checked=checked' : "" %>">
	<br>
	<label for="event_location">Where</label>
	<br>
	<input type="text" id="event_location" name="event[location]" 
	value="<%= event.escape("location") %>">
	<img src="/assets/powered-by-google-on-non-white.png">
	<br>
	Select Calendar to add to
:	<select name="event[calendar_id]">
	<% Calendary.current_user.get("calendars").each(function(calendar){ %>
		<option 
		value="<%= calendar.id %>"
		<%= (event.get("calendar_id")) ? ((calendar.id == event.get("calendar_id")) ? "selected" : "" ) : "" %>
		><%= calendar.escape("title") %></option>
		<% }); %>
	</select>
	<br>
	<label for="event_description">Description</label>
	<br>
	<textarea id="event_description" 
	name="event[description]"><%= event.escape("description") %></textarea>
	<br>
<script type="text/javascript" src="//api.filepicker.io/v1/filepicker.js" id="filepickerJS"></script>


<input type="filepicker-dragdrop" data-fp-apikey="AZMO1sQTmTEKZLg2IKSOAz" data-fp-mimetypes="*/*" data-fp-container="modal" onchange="event.fpfile.url" id="attachment">

	<label for="event_color">Event Color</label>
	<br>
	<input type="color" id="event_color" name="event[color]"
	value="<%= event.escape("color") || "#B1C3FF" %>">
	<br>

	<!-- /* @TODO: 
		1. Reminders
		2. Privacy options
		3. Guests
		4. Discarding
		5. Not discarding and exiting or pressing back shows modal
	*/ -->
	<input type="submit" id="submit_button" value="SAVE"> <button 
	id="delete_button">Delete Event</button> 
</form>